## Preprocessing

In [192]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [193]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
# While attempting to acieve above 75% accuracy, I went back and removed 'USE_CASE' and 'ORGANIZATION' columns. These changes resulted in a reduction of accuracy by 1%
# After dropping those columns, I tried to keep the NAME column resulted in an evaluation of Loss: 0.7053233981132507, Accuracy: 0.7162682414054871
dropped_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
dropped_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [194]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
dropped_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [195]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
dropped_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [196]:
#from sklearn.metrics import roc_curve, auc

In [197]:
#In the endeavor of trying to get the damn model to work, I went back and added T9 and T13 to the non-OTHER field. 
application_types_to_replace = ['T12', 'T2', 'T14', 'T25', 'T15', 'T25', 'T29', 'T17']

In [198]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE



# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
dropped_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [199]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
dropped_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1820        1
C1236        1
C2570        1
C2190        1
C1580        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [200]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
dropped_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C1234        2
C1267        2
C1246        2
C1256        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [201]:
classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C2300', 'C7200', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1237', 'C1235', 'C7210', 'C2400', 'C4100', 'C1720', 'C1257', 'C1600', 'C0','C2710', 'C1260', 'C1234', 'C1267', 'C1246', 'C1256', 'C3200','C2150','C2190','C1283','C4500','C4120','C1236','C2500','C2600','C5200','C1248','C3700','C2570','C4200','C1820','C2170','C2561','C1728','C2380','C1245','C8210','C6100','C1732','C1900','C1570','C1370','C1580']

In [202]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
dropped_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [203]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies_df = pd.get_dummies(dropped_df)
dummies_df

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 46 columns]

In [204]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y= dummies_df['IS_SUCCESSFUL']
X= dummies_df.drop(columns='IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
#  YOUR CODE GOES HERE

In [205]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [206]:
#inital nn_model, could not provide any growth to its accuracy over testing time, staying at about 73.5%

nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5873 - accuracy: 0.7080
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5585 - accuracy: 0.7287
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7301
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7302
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7320
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7307
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7318
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7314
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7309
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7329
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7332
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7341
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7327
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7334
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7339
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7344
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7336
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7338
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7338
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7339
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7353
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7355
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7357
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7369
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7355
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7367
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7348
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7368
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7363
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7369
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7357
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7382
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7373
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7349
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7368
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7370
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7362
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7379
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7366
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7374
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7389
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7377
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7381
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7377
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7368
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7378
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7367
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7382
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7385
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7380
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7379
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7379
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7374
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7373
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7379
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7392
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7386
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7394
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7395
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7382
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7382
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7381
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7369
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7388
268/268 - 0s - loss: 0.5577 - accuracy: 0.7236
Loss: 0.5576854944229126, Accuracy: 0.7236151695251465

In [207]:
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 16)                736
_________________________________________________________________
dense_16 (Dense)             (None, 16)                272
_________________________________________________________________
dense_17 (Dense)             (None, 16)                272
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 17
=================================================================
Total params: 1,297
Trainable params: 1,297
Non-trainable params: 0
_________________________________________________________________

In [221]:
# Create and train a new model instance.


# Save the entire model as a SavedModel.
!mkdir -p saved_model
nn_model.save('../AlphabetSoupCharity_Optimization.h5')

## Compile, Train and Evaluate the Model

In [208]:
#I was hoping this would work better than it did. got a model that did not perform better than the previous model-type, but it did not provide any significant improvements



# def create_model(hp):
#     nn_model = tf.keras.models.Sequential()

#     # Allow kerastuner to decide which activation function to use in hidden layers
#     activation = hp.Choice('activation',['relu','tanh'])
    
#     # Allow kerastuner to decide number of neurons in first layer
#     nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
#         min_value=1,
#         max_value=30,
#         step=5), activation=activation))

#     # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
#     for i in range(hp.Int('num_layers', 1, 5)):
#         nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
#             min_value=1,
#             max_value=30,
#             step=5),
#             activation=activation))
    
#     nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#     # Compile the model
#     nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
#     return nn_model

In [209]:
#fit_model = nn_model.fit(X_train_scaled,y_train)

In [210]:
# model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
# nn_model.summary()

In [211]:
# Compile the model
#  YOUR CODE GOES HERE

In [212]:
# Train the model
#  YOUR CODE GOES HERE

In [213]:
# Evaluate the model using the test data
#model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
#print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [214]:
# Export our model to HDF5 file

#  YOUR CODE GOES HERE