## Preprocessing

In [68]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [93]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
# While attempting to acieve above 75% accuracy, I went back and removed 'USE_CASE' and 'ORGANIZATION' columns. These changes resulted in a reduction of accuracy by 1%
# After dropping those columns, I tried to keep the NAME column resulted in an evaluation of Loss: 0.7053233981132507, Accuracy: 0.7162682414054871

# took a stab at removing extraneous columns to see if that could increase accuracy. Started with Use Case
# result: Loss: 0.5816099047660828, Accuracy: 0.7225655913352966
# Kept Use Case out and additionally took out Special Considerations
# result: Loss: 0.5787719488143921, Accuracy: 0.7226822376251221
# returned to base state

dropped_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
dropped_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 8 columns]

In [94]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
dropped_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [95]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
dropped_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [96]:
#In the endeavor of trying to get the damn model to work, I went back and added T9 and T13 to the non-OTHER field. This didn't do much
#On another attempt I inclueded T10, T8, T7 in the applications to replace list, in a hope that few bins in our target variables would help clean up the process
# result:Loss: 0.5764734745025635, Accuracy: 0.7237317562103271
application_types_to_replace = ['T9', 'T13','T12', 'T2', 'T14', 'T25', 'T15', 'T25', 'T29', 'T17']

In [97]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE



# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
dropped_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [98]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
dropped_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C5200        1
C2561        1
C1283        1
C4200        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [99]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
dropped_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C0           3
C1260        3
C2710        3
C1246        2
C3200        2
C1267        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [100]:
#included C2100 into the Other's bin to see if it would produce a change in the accuracy
# result: Loss: 0.5742854475975037, Accuracy: 0.722449004650116
#returned to baseline

# Included c2100 in the others bin in conjunction with the addtion of T7, T8, and T10 in the application bins to see if this would provide a different result
#result:Loss: 0.5751075148582458, Accuracy: 0.7217492461204529
#returned to baseline

In [101]:
classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C2300', 'C7200', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1237', 'C1235', 'C7210', 'C2400', 'C4100', 'C1720', 'C1257', 'C1600', 'C0','C2710', 'C1260', 'C1234', 'C1267', 'C1246', 'C1256', 'C3200','C2150','C2190','C1283','C4500','C4120','C1236','C2500','C2600','C5200','C1248','C3700','C2570','C4200','C1820','C2170','C2561','C1728','C2380','C1245','C8210','C6100','C1732','C1900','C1570','C1370','C1580']

In [102]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE


# Replace in dataframe
for cls in classifications_to_replace:
  dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
dropped_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [103]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies_df = pd.get_dummies(dropped_df)
dummies_df

       STATUS   ASK_AMT  ...  INCOME_AMT_50M+  INCOME_AMT_5M-10M
0           1      5000  ...                0                  0
1           1    108590  ...                0                  0
2           1      5000  ...                0                  0
3           1      6692  ...                0                  0
4           1    142590  ...                0                  0
...       ...       ...  ...              ...                ...
34294       1      5000  ...                0                  0
34295       1      5000  ...                0                  0
34296       1      5000  ...                0                  0
34297       1      5000  ...                0                  0
34298       1  36500179  ...                0                  0

[34299 rows x 37 columns]

In [104]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y= dummies_df['IS_SUCCESSFUL']
X= dummies_df.drop(columns='IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
#  YOUR CODE GOES HERE

In [105]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [106]:
X_train_scaled.shape

(25724, 36)

In [107]:
#inital nn_model, could not provide any growth to its accuracy over testing time, staying at about 73.5%
#bloated the crap out of the model. Initially grew units to 100,30,10,1 and played with the activation types of the second and third layers, this did not increase accuracy. 
#Grew the nodes again to 150, 80, 30, and 1, no change to accuracy
#Grew nodes to 300,100,50,1, and returned to a relu, sigmoid 3x format, still no improvement
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=300, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=100, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=50, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
#tried to test this with the fit_model instead of nn_model, to see if that changed anything, and it threw an error, so obviously that was the way it should have been initially
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5706 - accuracy: 0.7198
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7308
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7329
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7324
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7339
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7314
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7335
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7344
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7335
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7346
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7336
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7356
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7336
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7343
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7350
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7356
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7362
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7362
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7357
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7358
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7354
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7365
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7373
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7366
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7374
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7375
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7372
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7371
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7380
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7373
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7387
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7382
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7388
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7383
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7384
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7388
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7386
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7381
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7387
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7388
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7396
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7391
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7393
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7388
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7391
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7378
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7388
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7390
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7398
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7393
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7395
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7384
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7397
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7392
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7397
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7395
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7394
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7396
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7398
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7390
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7397
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7392
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7396
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7396
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7397
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7395
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7394
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7394
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7385
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7382
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7394
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7398
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7394
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7386
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7402
268/268 - 0s - loss: 0.5788 - accuracy: 0.7227
Loss: 0.5787719488143921, Accuracy: 0.7226822376251221

In [84]:
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 300)               11700
_________________________________________________________________
dense_17 (Dense)             (None, 100)               30100
_________________________________________________________________
dense_18 (Dense)             (None, 50)                5050
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 51
=================================================================
Total params: 46,901
Trainable params: 46,901
Non-trainable params: 0
_________________________________________________________________

In [85]:
# Create and train a new model instance.


# Save the entire model as a SavedModel.
!mkdir -p saved_model
nn_model.save('/content/AlphabetSoupCharity_Optimization.h5')

## Compile, Train and Evaluate the Model

In [86]:
#I was hoping this would work better than it did. got a model that did not perform better than the previous model-type, but it did not provide any significant improvements



# def create_model(hp):
#     nn_model = tf.keras.models.Sequential()

#     # Allow kerastuner to decide which activation function to use in hidden layers
#     activation = hp.Choice('activation',['relu','tanh'])
    
#     # Allow kerastuner to decide number of neurons in first layer
#     nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
#         min_value=1,
#         max_value=30,
#         step=5), activation=activation, input_dim=45))

#     # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
#     for i in range(hp.Int('num_layers', 1, 5)):
#         nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
#             min_value=1,
#             max_value=30,
#             step=5),
#             activation=activation))
    
#     nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#     # Compile the model
#     nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
#     return nn_model

In [87]:
#fit_model = nn_model.fit(X_train_scaled,y_train)

In [88]:
# model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
# nn_model.summary()

In [89]:
# Compile the model
#  YOUR CODE GOES HERE

In [90]:
# Train the model
#  YOUR CODE GOES HERE

In [91]:
# Evaluate the model using the test data
#model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
#print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [92]:
# Export our model to HDF5 file

#  YOUR CODE GOES HERE